.ant-popover {
    .ant-popover-content {
        .ant-popover-inner {
            padding: 1.5rem;
            // button {
            //     margin: 1.5rem
            // }
            button:hover {
                color: #EC4638;
            }
        }
    }
}
