

.movie-img {
    width: 100%;
}

.ant-rate {
    .ant-rate-star-first {
        color: rgba(128, 128, 128, 0.2);
    }
}

.movie-details-btn {
    width: 50%;
}

@media (min-width: 1280px) {
    .movie-img {
        width: 500px;
    }
    .movie-details-btn {
        width: 25%;
    }
}